@page
@model loginModel
@{
    ViewData["Title"] = "Login";
}
    
        
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900">Welcome TBKK</h1>
                    </div>
                </div>
                <div class="card-body ">
                    <form>
                        <div class="form-group">

                            <input type="text" id="inputID" class="form-control" placeholder="ID..." aria-label="Search" aria-describedby="basic-addon2">


                        </div>
                        <div class="form-group">

                            <input type="password" id="inputPassword" class="form-control" placeholder="Pass..." required="required">


                        </div>

                        <a class="btn btn-primary btn-block" href="index.html">Login</a>
                    </form>
                </div>
            </div>
       

       

   